.related {
   margin-top: 2em;
}

#content {
  margin-top: 1.5em;
}

#global-header {
  position: relative;
}

#global-breadcrumb {
  position: relative;
  background: none !important;
}
#user-satisfaction-survey-container {
  display: none;
}

.epic-bunting {
  width:100%;
  position:absolute;
  z-index: 0;
  left:0;
  top: 100%;
  overflow:visible;
  opacity: 0.8;
}

.epic-bunting span {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bunting.png');
  background-color:transparent;
  background-repeat:repeat-x;
  width:99.9%;
  position:absolute;
  height:80px;
}
